/* ----------- Carousel ----------- */
.preset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .preset-container{
  width: 33%
}
.carousel-container {
  width: 95%;
  margin: 10rem auto;
  position: relative;
  overflow: visible;
}

@media only screen and (min-width: 1201px) {
  .carousel-container {
    width: 80%;
  }
}

.slides-container {
  height: auto;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.slick-list {
  padding: 10rem 0 !important;
  
}

.slick-track{
  display:block !important;
  margin: 0 auto !important;
}

.primary {
  filter: drop-shadow(var(--box-shadow));
  position: relative;
  z-index: 300;
}

.slide {
  transform: scale(0.8) translateX(0) translateY(0);
  transition: transform 300ms;
  opacity: 0.5;
  width: 30rem;
  height: 30rem;

}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  
}

.leftActiveSlide {
  transform: scale(1) translateX(-5rem) translateY(0);
  opacity: 0.8;
}

.rightActiveSlide {
  transform: scale(1) translateX(5rem) translateY(0);
  opacity: 0.8;
 
}

.activeSlide {
  transform: scale(2) translateX(0) translateY(0);
  opacity: 1;
  
}

.slide,
.leftActiveSlide,
.rightActiveSlide,
.activeSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: content-box;
  overflow: hidden;
  background-color: transparent;
 
}


.arrow {
  background-color: #fff;
  box-shadow: -0.5rem -0.5rem 6rem rgba(255,255,255,0.8);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  opacity: 0.5;
  transition: all 300ms ease;
} 

.arrow-icon {
  transition: color 300ms;
  font-size: 2.5rem;
  color: var(--color-medium-gray);
}

.arrow:hover {
  opacity: 1;
}

.arrow:hover .arrow-icon {
  color: var(--color-medium-gray);
}

.next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}